antlr4-python3-runtime==4.9.3
asciitree==0.3.3
certifi==2022.12.7
charset-normalizer==2.1.1
diffusers==0.35.1
dill==0.4.0
einops==0.8.2
fasteners==0.20
filelock==3.20.3
fsspec==2026.1.0
hf-xet==1.2.0
huggingface-hub==0.36.1
idna==3.4
importlib-metadata==8.7.0
numcodecs==0.13.1
numpy==1.26.4
omegaconf==2.3.0
packaging==26.0
pillow==12.0.0
pyyaml==6.0
regex==2026.1.15
requests==2.32.5
safetensors==0.7.0
tqdm==4.67.1
typing-extensions==4.15.0
urllib3==1.26.13
zarr==2.18.3
zipp==3.23.0
